/* Responsive Table Styles */
.responsiveTable {
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	
	border: solid 1px #cecece;
	margin: 2%;
	width: 96%;
	
	overflow: hidden;
}

/* Display none until mediaquery is triggered */
.responsiveTable {
	display: none;
}

.responsiveRow {
	border-bottom: solid 1px #e9e9e9;
	width: 100%;
	padding: 10px 0;
}

.responsiveRow.even {
	background: #EEE;
}

.responsiveRow.last {
	border-bottom: none;
}

.responsiveRow tr td {
	border-bottom: none;
}

.responsiveRow .left {
	font-weight: 700;
}



@media (max-width: 800px) {
	
	.fullTable {
		display: none;
	}
	
	.responsiveTable {
		display: table;
	}
}




